<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <welcome-file-list>
        <welcome-file>InicioControlador</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CarritoControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.CarritoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.ClienteControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.AuthControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedidoControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.PedidoControlador</servlet-class>
        <multipart-config>
            <max-file-size>5242880</max-file-size>
            <max-request-size>10485760</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AdminPedidoControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.AdminPedidoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoriaControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.AdminCategoriaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirImagenControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.SubirImagenControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagenControlador</servlet-name>
        <servlet-class>com.edu.pe.controlador.ImagenControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioControlador</servlet-name>
        <url-pattern>/InicioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoControlador</servlet-name>
        <url-pattern>/CarritoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteControlador</servlet-name>
        <url-pattern>/ClienteControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthControlador</servlet-name>
        <url-pattern>/AuthControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedidoControlador</servlet-name>
        <url-pattern>/PedidoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPedidoControlador</servlet-name>
        <url-pattern>/AdminPedidoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoriaControlador</servlet-name>
        <url-pattern>/AdminCategoriaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirImagenControlador</servlet-name>
        <url-pattern>/SubirImagenControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagenControlador</servlet-name>
        <url-pattern>/ImagenControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
